
<!--<div class="table-responsive">
	<div class="row">
		<div class="col-4"></div>
		<div class="col-2"><span>col 1</span></div>
		<div class="col-2"><span>col 2</span></div>
		<div class="col-4"></div>
	</div>
</div>-->
<div class="grid"><!--table-responsive-->
	<div class="row">
		<div class="col-2"></div>
		<div class="col-8">
			<table class="table table-sm"><!--table-hover-->
				<thead class="thead-default">
					<tr>
						<th><span>Seleccionar</span></th>
						<th><span>Monto</span></th>
						<th><span>Hora</span></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>aaaa</td>
						<td>bbbb</td>
						<td>cccc</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-2"></div>
	</div>
</div>
